<script setup lang="ts">
import { ref, computed } from 'vue'
import axios from 'axios'

import CreateFolderDialog from './CreateFolderDialog.vue'
import ErrorDialog from './ErrorDialog.vue'
import StatusDialog from './StatusDialog.vue'
import DropFile from './DropFile.vue'
import { createConfirmDialog } from 'vuejs-confirm-dialog'

import { useDisplay } from 'vuetify'
// Destructure only the keys you want to use
const { xs } = useDisplay()

const props = defineProps<{
  folders: any[]
}>()

const emit = defineEmits(['confirm', 'cancel'])

const show = ref(true)

const errorDialog = createConfirmDialog(ErrorDialog)
const statusDialog = createConfirmDialog(StatusDialog)
const createFolderDialog = createConfirmDialog(CreateFolderDialog)

const selectedFolder = ref()

const addedFolder = ref()

const confirmCreateFolder = async () => {
  const { data, isCanceled } = await createFolderDialog.reveal( { folder: selectedFolder.value } )

  if(isCanceled) return

  addedFolder.value = data
  console.log(addedFolder.value)
  props.folders.push(addedFolder.value)
  selectedFolder.value = addedFolder.value
}

// pass to child in order to call its method
const uploadInstance = ref<InstanceType<typeof DropFile> | null>(null)

const isDisabled = computed(() => {
  return typeof(selectedFolder.value) !== 'object' || uploadInstance.value?.files.length === 0
})

const uploadPhotos = async () => {
  statusDialog.reveal({ message: 'Uploading photos' })
  const formData = new FormData();
  uploadInstance.value?.files.forEach((file) => {
    formData.append("file", file);
  });

  formData.append("folderId", selectedFolder.value.folder_id)

  for (const [key, value] of formData) {
    console.log(`${key}: ${value}\n`)
  }

  try {
    const response = await axios.post('/upload', formData)
    if (response.data['status'] === 'error') {
      statusDialog.close()
      errorDialog.reveal({ message: response.data['msg'] as string })
    } else {
      statusDialog.close()
      console.log('emit addphoto information here')
      emit('confirm', selectedFolder.value.folder_id)
    }
  } catch (error: any) {
    console.log(`upload error: ${error.message}`)
    statusDialog.close()
    errorDialog.reveal({ message: error.message })
  }
}

const makeObject = (val: any) => {
  console.log(val)
  if (typeof val === "string") {
    selectedFolder.value = {
      folder: val,
    }
  }
}

</script>

<template>
    <v-dialog
      v-model="show"
      width="auto" :fullscreen="xs"
    >
      <v-card>
        <v-card-text>
          <v-list lines="one">
            <v-list-item
            >
              <!-- <template v-slot:prepend>
                <div class="pr-4">1.</div>
              </template> -->
              <v-list-item-title>Select folder or type name for new</v-list-item-title>
              <v-combobox
                label="Select folder..."
                v-model="selectedFolder"
                :items="folders"
                item-title="folder"
                item-value="folder_id"
                density="comfortable"
                return-object
                @input="makeObject"
                loading
              ></v-combobox><p></p>
                <v-btn v-if="typeof selectedFolder === 'string'" color="primary" block @click="confirmCreateFolder()">Create folder</v-btn>
            </v-list-item>

            <v-list-item
            >
               <!-- <template v-slot:prepend>
                 <div class="pr-4">2.</div>
               </template> -->
               <v-list-item-title>Upload files</v-list-item-title>
               <DropFile ref="uploadInstance"/>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions>
            <v-col>
              <v-row justify="center">
                <div v-if="isDisabled" class="font-weight-bold">Create folder and add photos to upload</div>
              </v-row>
              <v-row align="center" justify="center">
                <v-btn color="primary" :disabled="isDisabled" @click="uploadPhotos()">Upload</v-btn>
                <v-btn color="secondary" @click="emit('cancel')">Cancel</v-btn>
              </v-row>
            </v-col>
        </v-card-actions>
      </v-card>
    </v-dialog>

</template>
