<script lang="ts" setup>
import { ref } from 'vue';

const { message } = defineProps({
  message: String
})

const emit = defineEmits(['confirm', 'cancel'])

const dialog = ref(true)
</script>

<template>
  <v-dialog
    v-model="dialog"
    width="auto"
  >
    <v-card>
      <v-card-text>
        {{ message }}
      </v-card-text>
      <v-card-actions>
        <v-row align="center" justify="center">
          <v-btn color="primary" @click="emit('confirm')">Confirm</v-btn>
          <v-btn color="primary" @click="emit('cancel')">Cancel</v-btn>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
