<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'

import ErrorDialog from './ErrorDialog.vue'
import { createConfirmDialog } from 'vuejs-confirm-dialog'

const props = defineProps<{
  folder: any
}>()

const emit = defineEmits(['confirm', 'cancel'])

const show = ref(true)

const errorDialog = createConfirmDialog(ErrorDialog)

const createFolder = () => {
  axios
    .get('/create_folder', { params: { folder: props.folder } })
    .then((response) => {
      if (response.data['status'] === 'error') {
        if (response.data['status'] === 'error') {
          errorDialog.reveal({ message: response.data['msg'] })
        }
      } else {
        emit('confirm', response.data)
      }
    })
}

</script>

<template>
    <v-dialog
      v-model="show"
      width="auto"
    >
      <v-card>
        <v-card-text>
          Are you sure you want to create this folder?
        </v-card-text>
        <v-card-actions>
          <v-row align="center" justify="center">
          <v-btn color="primary" @click="createFolder()">Create folder</v-btn>
          <v-btn color="secondary" @click="emit('cancel')">Cancel</v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>
