<script lang="ts" setup>
import { ref } from 'vue';

const { message } = defineProps({
  message: String
})

const emit = defineEmits(['confirm'])

const dialog = ref(true)
</script>

<template>
    <v-dialog v-model="dialog" width="auto">
      <v-card>
        <v-card-text class="text-center">{{ message }}
        </v-card-text>
        <v-card-actions class="flex-column">
          <v-btn color="primary" block @click="emit('confirm')">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>
