<script setup lang="ts">
import { store } from '@/store'
import SetExportNameDialog from './SetExportName.vue'
import { createConfirmDialog } from 'vuejs-confirm-dialog'

const setExportNameDialog =
  createConfirmDialog(SetExportNameDialog)

const setExportName = async () => {

  const { data, isCanceled } = await setExportNameDialog.reveal()

  if(isCanceled) return

  store.export_file = data.file
  store.export_contents = data.contents
}
</script>

<template>
  <div class="pe-4 pl-4">
      <div v-if="store.export_file">
        <a :href="`/download_export?exportFile=${store.export_file}`" :download="store.export_file">{{ store.export_file }}({{  store.export_contents.length }})</a>
      </div>
      <div @click="setExportName()" style="cursor: pointer;">
        Set export name
      </div>
  </div>

</template>