<script setup lang="ts">
import { ref, onMounted, watch } from 'vue'
import axios from 'axios'

import Photos from './Photos.vue'

import AddPhotosDialog from './AddPhotosDialog.vue'
import { createConfirmDialog } from 'vuejs-confirm-dialog'

const props = defineProps<{
  searchTag: string
}>()

// used to call method on this child (ref used in template)
// The IDE error with AddPhotosDialog is known issue with createConfirmDialog
const addPhotosDialog = createConfirmDialog(AddPhotosDialog)

// allow parent to call our method and then call method on the child
const addPhotos = () => {
  console.log('addPhotos')
  addPhotosDialog.reveal({ folders: folders.value })
}
defineExpose({
  addPhotos
})

const getIndex = (id: number) => {
  let index = folders.value.findIndex(function (object) {
    return object.folder_id === id;
  });

  return index
}

// reactive state
const folders = ref<any[]>([])

const getFolders = () => {
  axios
    .get('/folders', { params: { searchTag: props.searchTag } })
    .then((response) => {
      folders.value = []
      //console.log("push first 20")
      folders.value.push(...response.data.slice(0, 20))
      getFolderDetail(response.data.slice(0, 20))
      setTimeout(() => {
        folders.value.push(...response.data.slice(20))
        //getFolderDetail()
        getFolderDetail(response.data.slice(20))
      }, 500);
    })
    .catch((error) => {
      alert(error)
    })
}

const getFolderDetail = (folderGroup: any) => {
  folderGroup.forEach(async (folder: any) => {
    await handleUpdateFolder(folder['folder_id'])
  })
}

const handleUpdateFolder = (folderId: number) => {
  axios
    .get('/folder', { params: { folderId: folderId, searchTag: props.searchTag } })
    .then((response) => {
      if (response.data['status'] === 'error') {
        alert(response.data['msg'])
      } else {
        //console.log(response.data)
        let index = getIndex(folderId)
        folders.value[index]['count'] = response.data['count']
        folders.value[index]['tags'] = response.data['tags']
      }
    })
    .catch((error) => {
      alert(error)
    })

}

// check for changes in what tag is to be searched for
watch(() => [props.searchTag], (newValues, oldValues) => {
  getFolders()
});

// lifecycle hooks
onMounted(() => {
  getFolders()
})

</script>

<template>
  <v-expansion-panels>
    <v-expansion-panel v-for="folder in folders" :key="folder['folder_id']">
      <v-expansion-panel-title>
        <v-container class="pa-0 ma-0">
          <v-row no-gutters>
            <v-col cols="3">
              <v-sheet class="pa-0 ma-0">
                <div class="font-weight-bold">
                  {{ folder['folder'] }}
                </div>
              </v-sheet>
            </v-col>
            <v-col>
              <template v-if="'tags' in folder">
                <ul class="cloud">
                  <li v-for="count, tag in folder['tags']" :data-weight="count">
                    {{ tag }}
                  </li>
                </ul>
              </template>
            </v-col>
            <v-col cols="2">
              <v-sheet class="pa-0 ma-0">
                {{ folder['count'] }} photos
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-expansion-panel-title>
      <v-expansion-panel-text>
        <Photos :folderId="folder['folder_id']" :searchTag="searchTag" @update-folder="handleUpdateFolder" />
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<style scoped>
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
}

ul.cloud li[data-weight="1"] {
  --size: 1;
}

ul.cloud li[data-weight="2"] {
  --size: 2;
}

ul.cloud li[data-weight="3"] {
  --size: 3;
}

ul.cloud li[data-weight="4"] {
  --size: 4;
}

ul.cloud li[data-weight="5"] {
  --size: 5;
}

ul.cloud li[data-weight="6"] {
  --size: 6;
}

ul.cloud li[data-weight="7"] {
  --size: 7;
}

ul.cloud li[data-weight="8"] {
  --size: 8;
}

ul.cloud li[data-weight="9"] {
  --size: 9;
}

ul.cloud li {
  --size: 9;
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  opacity: calc((15 - (9 - var(--size))) / 15);
  color: #a33;
  display: block;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

.v-expansion-panels {
  width: 94vw;
}

.v-expansion-panel {
  width: 94vw;
}

.v-expansion-panel-title {
  width: 94vw;
}

.v-expansion-panel-text {
  width: 94vw;
}

h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {

  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}</style>
