<script lang="ts" setup>
import { ref, onMounted, watch } from 'vue';
import axios from 'axios'

import { useDisplay } from 'vuetify'
// Destructure only the keys you want to use
const { xs } = useDisplay()

const emit = defineEmits(['confirm', 'cancel'])

const dialog = ref(true)

const exports = ref<{file: string, id: number, contents: object[]}[]>([])
const selected = ref()
const name = ref<string>('')

watch(selected, async (newSelected, oldSelected) => {
  name.value = newSelected.file  // for the UI
})

const emitExportFile = () => {

  console.log(`filename: ${name.value}`)

  const found = exports.value.find((element) => element.file == name.value)

  //let exportFile = {}
  let exportFile = <{file: string, id: number, contents: object[]}>{}
  if (found) {
    exportFile = found
  } else {  // user typed in a name
    exportFile = { file: name.value, id: 0, contents: [] }
  }
  emit('confirm', exportFile)
}

// field validation rules

const required = (value: string) => {
  if (!value) {
    return 'Required'
  }
  return true
}

const zipname = (value: string) => {
  const pattern = /^[a-zA-Z0-9-_]+\.zip$/
  return pattern.test(value) || 'Invalid zipfile name.'
}

onMounted(() => {   // having this in onMounted means page will need to reload to see the updated names
  axios
    .get('/export_names')
    .then((response) => {
      if (response.data['status'] === 'error') {
        alert(response.data['msg'])
      } else {
        exports.value = response.data['exports']
      }
    })
    .catch((error) => {
      alert(error)
    })

})

</script>

<template>
  <v-dialog
    v-model="dialog"
    width="auto" :fullscreen="xs"
  >
    <v-card class="pe-8 pl-8">
      <v-card-text>
        Set Export Name
      </v-card-text>
      <v-list>
        <v-list-item v-for="item in exports" :key="item.id" @click="selected = item">
          {{ item.file }}({{ item.contents.length }})
        </v-list-item>
      </v-list>
      <v-text-field label="Export file name" v-model="name" :rules="[required, zipname]"></v-text-field>
      <v-card-actions>
        <v-row align="center" justify="center">
          <v-btn color="primary" @click="emitExportFile()">Confirm</v-btn>
          <v-btn color="primary" @click="emit('cancel')">Cancel</v-btn>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
