<script setup lang="ts">
import { ref, onMounted } from 'vue'
import axios from 'axios'
// import { store } from '@/store'

import Folders from './components/Folders.vue'
import Exporter from './components/Exporter.vue'

const searchTag = ref('')
const tags = ref([])

const showSyncSteps = ref(false)
const setExtractFile = ref(false)

const isReloading = ref(false)

let syncInstructions: { title: string, subtitle: string }[] = [
  { "title": "On phone connect to WiFi and start Syncthing", "subtitle": "" },
  { "title": "Launch Finder", "subtitle": "" },
  { "title": "Select the server from Locations on left side", "subtitle": "" },
  { "title": "Select <user name> from list", "subtitle": "Double clicked to select" },
  { "title": "Select Phone-Camera", "subtitle": "" },
  { "title": "Move pictures into an existing folder or create a new one", "subtitle": "See Add Folder steps to create a seperate Finder window" },
  { "title": "Select 'Rebuild DB' button below", "subtitle": "It will take up to 5 minutes for this to complete" },
  { "title": "Refresh Photo Manager", "subtitle": "The pictures will be in the folder you selected in the previous step" },
  { "title": "Syncthing can be exited and Wifi turned off", "subtitle": "" },
];

const reloadDB = () => {
  isReloading.value = true
  axios
    .get('/loaddb')
    .then((response) => {
      if (response.data['status'] === 'error') {
        //errorMsg.value = response.data['msg']
        //showError.value = true
        console.log(response.data)
      } else {
        //photos.value.splice(getIndex(photoId), 1);
        console.log(response.data)
      }
    })
}

const folderInstance = ref<InstanceType<typeof Folders> | null>(null)

const addPhotos = () => {
  folderInstance.value?.addPhotos()
}

// lifecycle hooks
onMounted(() => {
  axios
    .get('/tags')
    .then((response) => {
      tags.value = response.data
      console.log(tags.value)
    })
})

</script>

<template>
  <v-app>
    <v-app-bar app color="primary" height="44" dark hide-on-scroll shaped="true">
      <v-toolbar-title>Photo Manager</v-toolbar-title>
      <v-spacer></v-spacer>
      <div>Filter tags:</div>
      <div>
        <v-combobox label="Filter by tag..." v-model="searchTag" :items="tags" density="comfortable"></v-combobox>
      </div>
      <Exporter />
      <!-- <div v-if="store.export_file">
        <a :href="`/download?exportFile=${store.export_file}`" :download="store.export_file">{{ store.export_file }}</a>
      </div>
      <div v-else @click="setExportName()" style="cursor: pointer;">
        Click to set export name
      </div> -->
      <v-menu left bottom>
        <template v-slot:activator="{ props }">
          <v-btn icon v-bind="props">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item @click="addPhotos()">
            <v-list-item-title>Adding photos...</v-list-item-title>
          </v-list-item>
          <v-list-item @click="setExtractFile = true">
            <v-list-item-title>Set Extract File...</v-list-item-title>
          </v-list-item>
          <v-list-item @click="showSyncSteps = true">
            <v-list-item-title>Sync phone...</v-list-item-title>
          </v-list-item>
        </v-list>

      </v-menu>
    </v-app-bar>
    <v-main>
      <Folders :searchTag="searchTag" ref="folderInstance" />
    </v-main>
  </v-app>

  <v-dialog v-model="showSyncSteps" width="auto">
    <v-card>
      <v-card-text>
        <v-list lines="one">
          <v-list-item v-for="(step, i) in syncInstructions" :key="i" :value="step">
            <template v-slot:prepend>
              <div class="pr-4">{{ i + 1 }}.</div>
            </template>
            <v-list-item-title v-text="step.title"></v-list-item-title>
            <v-list-item-subtitle v-text="step.subtitle"></v-list-item-subtitle>
          </v-list-item>
        </v-list>
        <v-btn color="primary" size="small" :disabled="isReloading" @click="reloadDB">Rebuild DB</v-btn>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" block @click="showSyncSteps = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <DialogsWrapper />
</template>

<style scoped>
:deep(.v-combobox) {
  width: 180px;
}

/* .div {
   border: 1px solid green;
   }
   .v-row {
   border: 1px solid red;
   }
   .v-col {
   border: 1px solid yellow;
   } */


/* header {
   line-height: 1.5;
   }

   .logo {
   display: block;
   margin: 0 auto 2rem;
   }

   @media (min-width: 1024px) {
   header {
   display: flex;
   place-items: center;
   padding-right: calc(var(--section-gap) / 2);
   }

   .logo {
   margin: 0 2rem 0 0;
   }

   header .wrapper {
   display: flex;
   place-items: flex-start;
   flex-wrap: wrap;
   }
   } */
</style>
